// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: Cambria;
}
h1{
  size:200%;
}
h2{
  font-family: Cambria;
  color:#cc0000;
  font-size:160%;
}
table{
  table-layout:fixed;

}
#layer2{
  background-color:white;
  width:1200px;
  height:1400px;
  position:relative;
  left:30px;
  border:1px solid black;
  border-right:0px;
  border-left:0px;
  border-top:10px;
  border-bottom:15px;
  padding:30px;

}
#layer1{
  background-color:#E8EEF0;
  width: 800px;
  top:20px;

  position:relative;
}
#layer3{
  background-color:#cc0000;
  position:relative;
  top:0px;
  margin-left:auto;
}

p.redtitle {
    font-family: Cambria;
    color:#cc0000;
    font-size:130%;
    font-style:bold;
    font-weight:bolder;
    position:static;
    align:left;
}
p.regular {
  
}
table,th,td {
  border-collapse: collapse;
  border: 1px solid grey;
  border-spacing:8px;

}
td{
  height: 100px;
}
th {
  font-style:bold;
  width:150px;
  height:40px;
}
